
body{
    background-color: rgb(8, 37, 54);
}


header{
    display: flex;
    background-color: rgb(58, 58, 124);
}


footer{ 
    background-color: black;
}

.cabecalho_imagem{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;


}
